.header-container {
  margin-block: calc(77px + 1.5625vw);
  z-index: -1 !important;
}

.header {
  font-family: var(--font-family-jetbrains_mono);
}

.header-alt {
  color: var(--aquamarine);
  font-family: var(--font-family-jetbrains_mono);
}

.header-underscore {
  animation: blink 1.3s step-end infinite;
}

@keyframes blink {

  from,
  to {
    color: transparent
  }

  50% {
    color: rgba(245, 245, 245)
  }
}

.cursor::after {
  display: block;
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #fff;
  animation: cursor 0.6s linear infinite alternate;
  will-change: opacity;
}

@keyframes cursor {

  0%,
  40% {
    opacity: 1;
  }

  60%,
  100% {
    opacity: 0;
  }
}