---
import React from "react";
import "./HeaderStyles.css";
import HeaderContent from "./HeaderContent.astro";
import image from "@astrojs/image";
---

<div class="header-container">
  <div class="header">
    <h1 class="header-alignment">
      <HeaderContent />
    </h1>
  </div>
</div>
