@import "../../../styles/mixins.scss";

#home-meme {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8% 12%;
  @include fluid-font-size(1.3125rem);
}

.meme-text {
  width: 60%;
  margin-right: 5%;
  flex-shrink: 0;
}

.meme-grid { 
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
  max-width: 22em;

  img {
    margin-bottom: 0.5em;
  }

  > div {
    @include fluid-font-size(1.5625rem);
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--aquamarine);
  }
}

@media screen and (width < 48rem) {
  #home-meme {
    flex-direction: column;
    padding: 20% 8%;
    text-align: center;
  }

  .meme-text {
    width: auto;
    margin: 0 0 10%;
  }
}
