---
import './Meme.scss';
import meme1 from '../../../assets/meme-1.png';
import meme2 from '../../../assets/meme-2.png';
import meme3 from '../../../assets/meme-3.png';
import meme4 from '../../../assets/meme-4.png';
---

<section id="home-meme" class="tilted-bg">
  <div class="meme-item">
    <div>
      <img src={meme1.src} alt="Web 1" />
      <h2>Web1</h2>
    </div>
    <p>
      Right now, Lume has only one full-time developer and limited
      helper staff! We need help from developers, fundraisers,
      funders, and contributors to bring the new internet to the
      masses.
    </p>
  </div>
  <div class="meme-item">
    <div>
      <img src={meme2.src} />
      <h2>Web2</h2>
    </div>
    <p>
      Right now, Lume has only one full-time developer and limited
      helper staff! We need help from developers, fundraisers,
      funders, and contributors to bring the new internet to the
      masses.
    </p>
  </div>
  <div class="meme-item">
    <div>
      <img src={meme3.src} />
      <h2>Crypto &amp; Defi</h2>
    </div>
    <p>
      Right now, Lume has only one full-time developer and limited
      helper staff! We need help from developers, fundraisers,
      funders, and contributors to bring the new internet to the
      masses.
    </p>
  </div>
  <div class="meme-item">
    <div>
      <img src={meme4.src} />
      <h2>Web3</h2>
    </div>
    <p>
      Right now, Lume has only one full-time developer and limited
      helper staff! We need help from developers, fundraisers,
      funders, and contributors to bring the new internet to the
      masses.
    </p>
  </div>
</section>
