@import "../../../styles/mixins.scss";
@import "../../../styles/vars.scss";

#home-meme {
  display: flex;
  align-items: center;
  @include fluid-padding-lr;
  padding-top: 12em;
  padding-bottom: 12em;
  gap: 10em;

  .feature-group {
    @include fluid-font-size(1.3125rem);
    max-width: 28em;
  }

  .meme-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
  }

  .meme-item {
    display: flex;
    align-items: center;
    @include fluid-font-size(1.3125rem);
    gap: 2em;
    max-width: 55em;

    div {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      gap: 2em;
    }

    img {
      @include fluid-width(13.125rem);
    }

    h2 {
      width: 8.2em;
      @include fluid-font-size(1.5625rem);
      font-weight: 700;
      text-align: center;
      color: $color-aquamarine;
      text-transform: uppercase;
    }

    p {
      font-family: $font-family-jaldi;
      @include fluid-font-size(1.3125rem);
      line-height: 123.81%;
      color: $color-cloud;
    }
  }

  @media screen and (max-width: 47.99999rem) {
    .meme-item {
      div {
        flex-direction: column;
        gap: 0.5em;
      }

      h2 {
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
