---
import './Meme.scss';
import meme1 from '../../../assets/meme-1.png';
import meme2 from '../../../assets/meme-2.png';
import meme3 from '../../../assets/meme-3.png';
import meme4 from '../../../assets/meme-4.png';
---

<section id="home-meme" class="tilted-bg">
  <div class="meme-text feature-group">
    <h2>TITLE</h2>
    <h3>Building a new world for your data</h3>
    <p>
      Right now, Lume has only one full-time developer and limited
      helper staff! We need help from developers, fundraisers,
      funders, and contributors to bring the new internet to the
      masses.
    </p>
  </div>
  <div class="meme-grid">
    <div>
      <img src={meme1.src} alt="Web 1" />
      Web1
    </div>
    <div>
      <img src={meme2.src} />
      Web2
    </div>
    <div>
      <img src={meme3.src} />
      Crypto &amp; Defi
    </div>
    <div>
      <img src={meme4.src} />
      Web3
    </div>
  </div>
</section>
