---
import "./CommunityPower.scss";
import communityPower from "../../../../src/assets/community-power.png";
---

<section id="community-power">
  <div class="community-power-wrapper">
    <div class="community-power-description"></div>
  </div>
</section>
