#community-power {
  background-image: url("../../../assets/community-power-bg.png");
  margin-top: 7.8125rem;
  background-size: max(75rem, 100%);
  background-position: right;
  padding-top: max(29.25rem, 39.02%);
}
