<section
  id="web3"
  class="flex flex-col lg:flex-row lg:bg-transparent lg:p-0 gap-10 mx-10 sm:mx-20 xl:mx-40"
>
  <div class="flex-1 -ml-10 -mr-20 lg:-ml-40 lg:mr-0">
    <img src="/src/assets/home-gfx-left.png" class="w-full" />
  </div>
  <div class="flex-1 -mt-40 space-y-10 flex flex-col justify-center">
    <h2
      class="font-display text-primary font-bold text-xl md:text-2xl uppercase"
    >
      What is the Web?
    </h2>
    <h3 class="font-display text-4xl md:text-6xl font-bold">
      Why Web3 matters
    </h3>
    <p class="font-body text-xl md:text-3xl text-body">
      Web3 gives people control over their data, privacy, and ownership. Lume's
      affordable Web3 tech aims to speed up the transition from Web2 to Web3,
      which matters for privacy and security.
    </p>
    <div class="pt-10 w-full">
      <a
        href="#"
        class="text-2xl w-full block text-center md:max-w-[250px] rounded-md bg-primary py-3 px-10 text-[black] font-body"
        >Learn More</a
      >
    </div>
  </div>
</section>
