---
import './Web3.scss';
---

<section id="web3" class="tilted-bg">
    <div class="feature-group">
        <h2>
            What is the Web?
        </h2>
        <h3>
            Why Web3 matters
        </h3>
        <p>
            Web3 often gets mixed up with other terms/buzz words such as "crypto" or "defi". However, the current web
            you use now is often referred to insiders as "web2".
        </p>
        <p>
            While Web3 can include many decentralized services, it symbolizes the multiverse, or the entirety of all
            decentralized & P2P networks. Some may refer to this as the "metaverse", or even "dweb", but we can agree to disagree 😉.
        </p>
        <div>
            <a href="/what-is-web3" class="btn-main">Learn More</a>
        </div>
    </div>
</section>
