@import "/src/styles/mixins.scss";
@import "/src/styles/vars.scss";

#web3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70em;
  margin-top: 6em;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 81.7em;
    max-width: 63.7em;
    margin: -40em 0 0;
    background-image: url("/src/assets/home-gfx-left.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
    z-index: -1;
  }

  .feature-group {
    @include fluid-position-left(58.4em, 58em);
    max-width: 64em;

    h2 {
      margin-top: 1em;
    }

    @media screen and (max-width: 80rem) {
      p {
        background: rgba($color-blue-charcoal, 0.75);
        border-radius: 0.5em;
        padding: 0.3em 0.5em;
        margin: -0.3em -0.5em;
      }

      p + p {
        margin-top: 0.48em;
      }
    }
  }
}
