@import "/src/styles/vars.scss";

#contribute {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 71.1em;
  background: $color-blue-charcoal;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/src/assets/contribute-bg.png");
    background-position: 50%;
    background-size: cover;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
  }

  .feature-group {
    max-width: 72em;
    margin: 9em 7.5%;
    z-index: 1;
  }

  .mario {
    margin-top: 2.5em;
  }
}
