@import "../../../styles/mixins.scss";
@import "../../../styles/vars.scss";

#home-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  margin: 10em 0 8.5em;

  div {
    display: flex;
    align-items: center;
    gap: 2.5em;
  }

  h2 {
    @include fluid-font-size(1.5625rem);
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    color: $color-aquamarine;
  }

  a {
    padding: 0.5em;
    color: $color-alto;

    &:hover {
      color: $color-aquamarine;
    }
  }

  .github-logo svg {
    @include fluid-width(4.375rem);
  }

  .discord-logo svg {
    @include fluid-width(4.375rem);
  }

  .twitter-logo svg {
    @include fluid-width(4.375rem);
  }

  .facebook-logo svg {
    @include fluid-width(4.375rem);
  }
}
