---
import './Socials.scss';
import githubLogo from '../../../assets/github-logo.webp';
import discordLogo from '../../../assets/discord-logo.webp';
import twitterLogo from '../../../assets/twitter-logo.webp';
import facebookLogo from '../../../assets/facebook-logo.webp';
---

<section id="home-socials">
  <h2>Get in touch</h2>
  <div>
    <img src={githubLogo.src} class="github-logo" />
    <img src={discordLogo.src} class="discord-logo" />
    <img src={twitterLogo.src} class="twitter-logo" />
    <img src={facebookLogo.src} class="facebook-logo" />
  </div>
</section>
