---
import './NoVc.scss';
---

<section id="no-vc">
  <div class="feature-group">
    <h2>Community-Powered</h2>
    <h3>All about the people, no VC here.</h3>
      <p>
          Our vision is completely grass roots, and FOSS. The user needs to have a voice and be in control of their web. Due to our principles, we have not taken any VC money that might be able to strap a jetpack to the project, because the output would compromise the spirit and goals we are setting out to achieve.
      </p>
      <p>
          We are <i>very</i> aware of the projects that have come before us and whom have made similar promises. We are also doing our best to learn from their mistakes and failures.
      </p>
      <p>
          The key difference that we see big picture is you need both an <b>economy</b> and <b>decentralized/P2P</b> networks, because running the internet is not free, and someone <i>always</i> has to foot the bill.
      </p>
      <p>
          Blockchain <b><i>finally</i></b> makes this possible.
      </p>
      <p>
          Having a pragmatic view on mass adoption without compromising on principles is needed to make progress on a user-owned web.
      </p>
    <div>
      <a href="/donate" class="btn-main">Contribute to our cause</a>
    </div>
  </div>
</section>
