---
import backgroundSrc from "/src/assets/donate-jumbotron-bg.png";
---

<section
  id="jumbotron"
  class="relative w-full h-[420px] flex items-center justify-center max-w-[100vw] overflow-hidden"
>
  <img
    src={backgroundSrc.src}
    class="-z-10 absolute top-[50px] left-1/2 -translate-x-1/2 w-[100em] max-w-none"
  />
  <h1
    class="font-display2 px-10 md:px-20 lg:px-40 text-4xl lg:text-5xl w-full max-w-5xl text-center break-words"
  >
    Lume is <br /> people-powered.
  </h1>
</section>
