---
import "./SocialsStyles.css";
---

<div class="centered">
    <div>
        <h2 class="centered">get in touch</h2>
        <div class="centered">
            <div class="socials-wrapper">
                <div class="gitHub"></div>
                <div class="discord"></div>
                <div class="twitter"></div>
                <div class="fb"></div>
            </div>
        </div>
    </div>
</div>
