---
import "./SocialsStyles.css";
---

<div class="grid place-items-center overflow-hidden h-auto mb-[1.5vh];">
    <div>
        <h2 class="grid place-items-center overflow-hidden h-auto mb-[1.5vh];">
            get in touch
        </h2>
        <div class="grid place-items-center overflow-hidden h-auto mb-[1.5vh];">
            <div class="flex ml-[-5%] mb-[5vh] pb-[5vh]">
                <div class="github"></div>
                <div class="discord"></div>
                <div class="twitter"></div>
                <div class="fb"></div>
            </div>
        </div>
    </div>
</div>
