---
import '../../../styles/jumbotron.scss';
---

<section id="what-jumbotron" class="jumbotron">
  <h1>
    A new web that is fair and accessible to all, where each user can have a say in its infrastructure.
  </h1>
</section>
