---
import TypewriterContent from "./TypewriterContent.jsx";
---

<section
  id="typewriter"
  class="w-full flex flex-row items-center justify-center"
>
  <h1
    class="text-6xl md:text-9xl mb-10 min-h-[375px] px-10 text-center break-words"
  >
    <TypewriterContent client:load />
  </h1>
</section>
