@import "../../../styles/mixins.scss";
@import "../../../styles/vars.scss";

#why {
  position: relative;
  margin: 9em 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 92.2em;
    max-width: 100vw;
    height: 58.8em;
    background-image: url("../../../assets/donate-why-bg.png");
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }

  .feature-group {
    @include fluid-font-size(1.3125rem);
    @include fluid-position-left(43.9em, 28em);
    max-width: 29em;
    padding: 0.5em 0;
  }

  @media screen and (max-width: 80rem) {
    ul, p {
      background: rgba($color-body-bg, 0.65);
    }

    ul {
      border-radius: 0.5em 0.5em 0 0;
      padding: 0.3em 0.5em 0.3em 2em;
      margin: -0.3em -0.5em 0.28em;
    }

    p {
      border-radius: 0 0 0.5em 0.5em;
      padding: 0.3em 0.5em;
      margin: -0.3em -0.5em;
    }
  }
}
