---
import './Why.scss';
---

<section id="donate-why">
  <div class="feature-group">
    <h2>Help us break the pattern</h2>
    <h3>Why should I donate to Lume?</h3>
    <ul>
      <li>You believe the internet should be free and open for everyone, regardless of political beliefs.</li>
      <li>You want a neutral web accessible to everyday people.</li>
      <li>You believe your data should be private and secure unless you choose to share it.</li>
      <li>You want to ensure that you or someone else can’t be censored or “de-platformed.”</li>
      <li>You think people should have free access to information no matter how they choose to access it.</li>
      <li>You believe in handling web abuse using legal and social means instead of censorship and restriction.</li>
    </ul>
    <p>
      Every single day you use the Internet, your data is sold to companies to pay for your usage. Help us break the pattern by funding the creation of free and open-source Web3 tools.
    </p>
    <div>
      <a href="#" class="btn-main">Donate</a>
    </div>
  </div>
</section>
