@import "/src/styles/mixins.scss";
@import "/src/styles/vars.scss";

#why {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 185.6em;
  min-height: 58.8em;
  margin: 0 auto;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: min(0em, calc((100% - 92.2em) / 2));
    width: calc(100% - 64em - 7.5%);
    min-width: 92.2em;
    background-image: url("/src/assets/donate-why-bg.png");
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }

  .feature-group {
    box-sizing: content-box;
    margin: 2em 7.5%;
    max-width: 64em;
  }

  @media screen and (max-width: 80rem) {
    ul, p {
      background: rgba($color-blue-charcoal-2, 0.65);
    }

    ul {
      border-radius: 0.5em 0.5em 0 0;
      padding: 0.3em 0.5em 0.3em 1.5em;
      margin: -0.3em -0.5em 0.28em;
    }

    p {
      border-radius: 0 0 0.5em 0.5em;
      padding: 0.3em 0.5em;
      margin: -0.3em -0.5em;
    }
  }
}
