---
import backgroundSrc from "/src/assets/whatsweb3-jumbotron-bg.png";
---

<section
  id="jumbotron"
  class="relative w-full h-[420px] flex items-center justify-center"
>
  <img
    src={backgroundSrc.src}
    class="-z-10 absolute top-[50px] left-1/2 -translate-x-1/2 w-[100em] max-w-none"
  />
  <h1
    class="font-display2 text-4xl lg:text-5xl px-10 md:px-20 lg:px-40 w-full max-w-5xl text-center"
  >
    An evolved, user-owned web where you have access to the world in a way only
    you control.
  </h1>
</section>
