<section id="vision">
  <div class="space-y-10 mx-40">
    <h2 class="font-display text-primary font-bold text-2xl uppercase">
      Our Vision
    </h2>
    <h3 class="font-display text-6xl font-bold">Make Web3 easy for everyone</h3>
    <p class="font-body text-3xl text-body">
      Web3 offers freedom of speech, data sovereignty, and privacy. We simplify
      Web3 by bridging the gap between the two webs, enabling easy usage without
      censorship or backdoors.over your personal web.
    </p>
    <div class="pt-10">
      <a
        href="#"
        class="text-2xl rounded-md bg-primary py-3 px-10 text-[black] font-body"
        >Download Extension</a
      >
    </div>
  </div>
</section>
