---
import "./Vision.scss";
---

<section id="home-vision" class="feature-group">
  <div>
    <h2>Our Vision</h2>
    <h3>Make Web3 easy for everyone</h3>
    <p>
      Web3 offers freedom of speech, data sovereignty, and privacy. We simplify Web3 by bridging the gap between the two webs, enabling easy usage without censorship or backdoors.
    </p>
    <div>
      <a href="#" class="btn-main">Download Extension</a>
    </div>
  </div>
</section>
