---
import './Vision.scss';
---

<section id="vision">
    <div class="feature-group">
        <h2>Our Vision</h2>
        <h3>Enable an open, censorship-resistant web</h3>
        <p>Web3 is the next evolution of the internet that combines many legos from past decades.</p>
        <p>Benefits include internet <b>freedom</b>, <b>privacy</b>, and <b>ownership</b> over your personal web.</p>
        <div>
            <a href="#" class="btn-main">Download Extension</a>
        </div>
    </div>
</section>
