@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";

#home-vision {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 27.05em;
  margin-top: 5.32em;
  @include fluid-margin-lr;
  @include fluid-font-size(1.3125rem);
  background-image: url("../../../src/assets/video-placeholder.webp");
  background-position: 98%;
  background-repeat: no-repeat;
  background-size: contain;

  > div {
    max-width: 29em;
  }

  @media screen and (width < 80rem) {
    p {
      background: rgba($body-bg, 0.65);
      border-radius: 0.5em;
      padding: 0.3em 0.5em;
      margin: -0.3em -0.5em;
    }
  }
}
