.cards {
    max-width: 1200px;
    margin: 10vh auto;
    display: grid;
    gap: 1rem;
}

@media (width >=600px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width >=900px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}