@import "/src/styles/vars.scss";

#new-world {
  > div {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 185.6em;
    min-height: 75em;
    margin: 0 auto;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-image: url("/src/assets/new-world-bg.png");
      background-position: 50%;
      background-size: cover;
      z-index: -1;
    }
  }

  .feature-group {
    max-width: 64em;
    margin: 9em 7.5%;
  }
}
