---
import "./Header.scss";
import HeaderContent from "./HeaderContent.jsx";
---

<section id="home-header">
  <h1 class="flex flex-col justify-center">
    <HeaderContent client:load />
  </h1>
</section>
