@import "../../../styles/mixins.scss";
@import "../../../styles/vars.scss";

#join-community {
  padding-top: 3.16%;
  padding-bottom: 3.16%;
  @include fluid-padding-lr;
  background: $color-aquamarine;
  color: $color-blue-charcoal-2;

  @media screen and (max-width: 48rem) {
    text-align: center;
  }

  h2 {
    margin-bottom: 0.25em;
    @include fluid-font-size(2rem);
    font-weight: 700;
    line-height: 153%;
    text-transform: none;
    color: inherit;
  }

  p {
    font-family: $font-family-jaldi;
    @include fluid-font-size(1.3125rem);
    line-height: 157%;
  }
}
