@import "/src/styles/vars.scss";

#community {
  position: relative;
  background-image: url("/src/assets/community-power-bg.png");
  background-size: max(157.5em, 100%);
  background-position: right;
  padding-top: max(61.4525em, 39.0175%);

  .feature-group {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 64em;
    margin: 0 7.5%;
  }

  p {
    background: rgba($color-blue-charcoal, 0.65);
    border-radius: 0.5em;
    padding: 0.3em 0.5em;
    margin: -0.3em -0.5em;
  }
}
