@import "colors.scss";
@import "mixins.scss";

@import url("https://fonts.googleapis.com/css?family=Jaldi:400|JetBrains+Mono:400,700|IBM+Plex+Sans+Devanagari:400");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: rgba(0 0 0);
  --white: rgba(255 255 255);
  --blue-charcoal: #010e10;
  --blue-charcoal-2: rgba(3 21 24);
  --aquamarine: rgba(122 252 187);
  --cloud: rgba(199 199 199);
  --alto: rgba(217 217 217);
  --font-family-ibm-plex-sans-devanagari: "IBM Plex Sans Devanagari";
  --font-family-jaldi: "Jaldi";
  --font-family-jetbrains-mono: "JetBrains Mono";
}

html {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 20rem;
  scroll-behavior: smooth;
}

body {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-family: "JetBrains Mono", sans-serif;
  background: $body-bg;
  color: #fff;
  overflow-x: hidden;
}

main {
  @include fluid-font-size(0.625rem);
  flex-grow: 1;
}

a {
  transition: color 200ms;
}

.btn-main {
    display: inline-block;
    color: var(--black);
    background: var(--aquamarine);
    border: 0.05em solid var(--aquamarine);
    padding: 0.5em 0.8em;
    border-radius: 0.25em;
    transition: color 200ms, background 200ms;

    &:hover {
        color: var(--white);
        background: transparent;
    }
}

main.vision {
  &::before {
    content: "";
    position: absolute;
    width: max(min(103.1em, 100vw), 32em);
    height: max(min(73.3em, 100vw), 40em);
    top: 0;
    left: 50%;
    margin-left: max(-51.55em, -50vw);
    z-index: -1;
    background: url(../assets/vision-bg.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

main.what {
  &::before {
    content: "";
    position: absolute;
    width: max(min(151.3em, 100vw), 32em);
    height: max(min(122.4em, 100vw), 56em);
    top: -20em;
    left: 50%;
    margin-left: max(-75.65em, -50vw);
    z-index: -1;
    background: url(../assets/what-bg.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.feature-group {
  h2 {
    margin-bottom: 1em;
    @include fluid-font-size(1.5625rem);
    line-height: 100%;
    text-transform: uppercase;
    color: var(--aquamarine);
  }

  h3 {
    margin-bottom: 0.65em;
    @include fluid-font-size(2.8125rem);
    line-height: 109%;
  }

  h2, h3 {
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba($body-bg-darker, 0.65);
  }

  p, li {
    font-family: var(--font-family-jaldi);
    line-height: 167%;
    color: var(--cloud);
    transition: background 200ms;
  }

  ul {
    list-style-type: disc;
    margin-left: 1.5em;
    margin-bottom: 0.78em;
  }

  .btn-main {
    margin-top: 1.57em;
  }
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 1fr;
  gap: 0.9em;
  @include fluid-padding-lr;
  @include fluid-font-size(1.25rem);

  @media screen and (width >= 48rem) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (width >= 64rem) {
    grid-template-columns: repeat(3, 1fr);
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.95em 1.95em;
    background: $body-bg-darker;
    border: 0.05em solid transparent;
    border-radius: 0.5em;
    font-family: var(--font-family-jaldi);
    transition: border-color 200ms;

    &:hover {
      border-color: var(--aquamarine);
    }
  }

  h3 {
    @include fluid-font-size(1.875rem);
    line-height: 103.33%;
  }

  p {
    @include fluid-font-size(1.3125rem);
    margin-top: 0.67em;
    line-height: 123.81%;
    color: var(--cloud);
  }
}

.tilted-bg {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -5%;
    bottom: 0;
    left: -5%;
    margin: 2% 0;
    background: $body-bg-darker;
    transform: matrix(1, -0.04, 0.04, 1, 0, 0);
    z-index: -1;
  }
}

.tilted-bg-r {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -5%;
    bottom: 0;
    left: -5%;
    margin: 2% 0;
    background: $body-bg-darker;
    transform: matrix(1, 0.04, -0.04, 1, 0, 0);
    z-index: -1;
  }
}
