@import "./mixins.scss";
@import "./vars.scss";

@font-face {
  font-family: 'Jaldi';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Jaldi-Regular.woff2") format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/JetBrainsMono-Regular.woff2") format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/JetBrainsMono-Bold.woff2") format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans Devanagari';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/ibm-plex-sans-devanagari.woff2") format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-aquamarine: #7afcbb;
  --color-dark-aquamarine: #1F4A3D;
  --color-gray: #C7C7C7;
}

html {
  display: flex;
  flex-direction: column;
  min-width: 20rem;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-family: $font-family-jetbrains-mono;
  background: $color-blue-charcoal-2;
  color: $color-white;
  overflow-x: hidden;
  overflow-y: scroll;

  &.scroll-lock {
    overflow-y: hidden;
  }
}

.tilted-bg {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -5%;
    bottom: 0;
    left: -5%;
    margin: 2% 0;
    background: $color-blue-charcoal;
    transform: matrix(1, -0.04, 0.04, 1, 0, 0);
    z-index: -1;
  }
}

.tilted-bg-r {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -5%;
    bottom: 0;
    left: -5%;
    margin: 2% 0;
    background: $color-blue-charcoal;
    transform: matrix(1, 0.04, -0.04, 1, 0, 0);
    z-index: -1;
  }
}