@import "./mixins.scss";
@import "./vars.scss";

#jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12.5em 7.5% 15em;

  h1 {
    display: flex;
    align-items: center;
    max-width: 21em;
    height: 2.74em;
    font-family: $font-family-ibm-plex-sans-devanagari;
    @include fluid-font-size-s(3.6875rem);
    line-height: 137%;
    letter-spacing: -0.06em;
    text-align: center;
    text-shadow: 0.017em 0.017em 0.034em rgba($color-blue-charcoal, 0.65);
  }
}
