---
import "./CTOStyles.css";
---

<div class="cto-container w-full transition-[0.5s];">
    <div class="cto-geometric-bg">
        <div class="cto-shadow w-full transition-[0.5s] rounded-[72.5px];">
            <span id="cto"></span>
            <div class="w-full transition-[0.5s] rounded-[72.5px];">
                <h2
                    class="text-[calc(15px_+_(25_-_10)_*_((100vw_-_300px)_/_(1600_-_300)))] text-[color:var(--aquamarine)] uppercase font-bold"
                >
                    community-powered
                </h2>
                <h3
                    class="left meme-bp text-[calc(30px_+_(45_-_30)_*_((100vw_-_300px)_/_(1600_-_300)))] min-w-[75vw] z-[999] mt-[0.5em]"
                >
                    Building a new world <wbr /> for your data
                </h3>
                <h4
                    class="left rounded-[15px] text-[calc(15px_+_(21_-_15)_*_((100vw_-_300px)_/_(1600_-_300)))] text-[color:var(--cloud)] text-[length:var(--font-size-m)] font-normal not-italic max-w-[550px] leading-[35px] mt-[0.5em]"
                >
                    Right now, Lume has only one full-time developer and limited
                    helper staff! We need help from developers, fundraisers,
                    funders, and contributors to bring the new internet to the
                    masses.
                </h4>
                <div class="cto-mini-bio">
                    <div class="cto-info">
                        <h5>Derrick Hammer</h5>
                        <h6>CTO</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
