.footer-li {
    font-family: var(--font-family-jaldi);
    margin-inline: 5px;
    list-style-type: none;
}

.footer-cards {
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    padding: 5% 11.5%;
    background-color: #020E10;
    height: auto;
}

@media (width >=600px) {
    .footer-cards {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}

@media (width >=900px) {
    .footer-cards {
        grid-template-columns: repeat(6, 1fr);
    }
}

.footer-logo {
    background-image: url('../../../assets/lume-logo.webp');
    background-repeat: no-repeat;
    background-size: contain;
    height: 55px;
    min-width: 100px;
    display: inline-block;
    text-align: left;
    z-index: 998 !important;
}

.footer-email {
    background-image: url('../../../assets/email-icon.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    padding-inline: 10px;
    height: 14px;
    object-fit: cover;
    width: 17px;
}

.footer-h2 {
    font-size: calc(15px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));
    color: var(--aquamarine);
    line-height: 1vh;
    z-index: 999;
    margin-top: 5em;
}

.footer-padding {
    display: inline-block;
    text-align: left;
    font-family: var(--font-family-jaldi);
    font-size: calc(15px + (21 - 10) * ((100vw - 300px) / (1600 - 300)));
    margin-inline: -5px;
    margin-top: 5vh;
}

.footer-span {
    margin-top: 1em;
}