.message-container {
    align-items: flex-start;
    background-color: var(--aquamarine);
    display: flex;
    flex-direction: column;
    gap: 7px;
    min-height: 237px;
    padding: 5% 12%;
    width: 120%;
    margin-left: -1em;
}

.message-header {
    color: var(--blue-charcoal-2);
    font-family: var(--font-family-jetbrains_mono);
    font-size: calc(25px + (32 - 24) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 700;
    line-height: 2em;
    font-style: normal;
}

.message-content {
    color: var(--blue-charcoal-2);
    font-family: var(--font-family-jaldi);
    font-size: calc(15px + (21 - 14) * ((100vw - 300px) / (1600 - 300)));
    max-width: 85%;
    font-weight: 400;
    font-style: normal;
}