---
import "./MessageStyles.css";
---

<div class="message-container">
    <div
        class="message-header text-[color:var(--blue-charcoal-2)] text-[calc(25px_+_(32_-_24)_*_((100vw_-_300px)_/_(1600_-_300)))] font-bold leading-[2em] not-italic;"
    >
        A message from Derrick
    </div>
    <div
        class="message-content text-[color:var(--blue-charcoal-2)] text-[calc(15px_+_(21_-_14)_*_((100vw_-_300px)_/_(1600_-_300)))] max-w-[85%] font-normal not-italic;"
    >
        Web3 gives people control over their data, privacy, and ownership.
        Lume's affordable Web3 tech aims to speed up the transition from Web2 to
        Web3, which matters for privacy and security.
    </div>
</div>
