---
import './Legal.scss';
---

<section id="legal" class="tilted-bg-r">
  <div>
    <h2>Tax and Legal</h2>
    <p>
      <strong>Please understand that, according to United States regulations for our present incorporation status, donations are not currently tax-deductible.</strong>
    </p>
    <p>
      If you are a corporation or business, planning to make a large donation, we recommend that you consult a CPA to ensure you understand the tax implications of your donated funds first.
    </p>
    <p>
      All payments are nondeductible donations (unless you get consulted otherwise) and do not create any implied service contract or obligation for Hammer Technologies LLC to render any services.
    </p>
  </div>
</section>
