@import "/src/styles/mixins.scss";
@import "/src/styles/vars.scss";

#legal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 11em 0 9em;
  @include fluid-padding-lr;

  h2 {
    margin-bottom: 1em;
    @include fluid-font-size(2.8125rem);
    line-height: 122%;
  }

  p {
    margin-top: 1.5em;
    font-family: $font-family-jaldi;
    @include fluid-font-size(1.375rem);
    line-height: 157%;
    color: $color-cloud;
  }

  strong {
    @include fluid-font-size(1.625rem);
  }

  &::before {
    bottom: -12%;
  }
}
