---
import "./WhatIsWeb3.scss";
---

<section id="home-whatisweb3" class="tilted-bg">
  <div class="feature-group">
    <h2>
      What is the Web?
    </h2>
    <h3>
      Why Web3 matters
    </h3>
    <p>
      Web3 gives people control over their data, privacy, and ownership. Lume's affordable Web3 tech aims to speed up the transition from Web2 to Web3, which matters for privacy and security.
    </p>
    <div>
      <a href="/what-is-web3" class="btn-main">Learn More</a>
    </div>
  </div>
</section>
