---
import Navbar from "../components/Navbar/Navbar.jsx";
import Header from "../components/P1/Header/Header.astro";
import Powered from "../components/P1/Powered/Powered.astro";
import Vision from "../components/P1/Vision/Vision.astro";
import Whatisweb3 from "../components/P1/Whatisweb3/Whatisweb3.astro";
import "../index.css";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Lume Web - Web3 for the masses</title>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=5.0"
		/>
		<meta
			name="description"
			content="Lume Web - Web3 for the masses | Install the Lume Web3 Extension and have a 1-click gateway into the Web3 internet on Opera, Vivaldi, Edge, and Firefox."
		/>
		<meta name="keywords" content="Web3 Extension, Lume Web, Web3" />
		<link rel="stylesheet" href="./src/index.css" />
	</head>
	<body>
		<Navbar client:load />
		<Header />
		<Vision />
		<Whatisweb3 />
		<Powered />
	</body>
</html>
