.valign-text-middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.p-logo-wrapper {
  align-items: center;
  flex-direction: column;
  white-space: nowrap;
  display: flex;
  width: 100%;
  margin-left: 50%;
  margin-right: 50%;
}

.rows {
  flex-direction: row;
  margin-bottom: 1.5vh;
  place-items: center;
  overflow: hidden;
  display: flex;
  height: auto;
  width: 100%;
}

.p-logo-container {
  justify-content: center;
  align-items: center;
  overflow: visible;
  white-space: normal;
  display: flex;
}

@media screen and (max-width: 625px) {
  .p-logo-container {
    width: 100%;
    margin-top: 5%;
    transition: 0.5s;
  }

  .p-logo-wrapper {
    margin-left: 0%
  }

  .p-logo-container {
    justify-content: center;
    align-items: center;
    overflow: visible;
    display: grid;
  }
}

.sia-logo {
  background-image: url(../../../assets/sia-logo.webp);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 51.8px;
  margin-bottom: 8px;
  object-fit: cover;
  width: 89.6px;
}

.hns-logo {
  background-image: url(../../../assets/hsn-logo.webp);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 46.2px;
  margin-left: 5px;
  object-fit: cover;
  width: 43.4px;
}

.osi-logo {
  background-image: url(../../../assets/osi-logo.webp);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 70px;
  margin-left: 18px;
  width: 58.1px;
}