---
import './CTO.scss';
import avatar from '/src/assets/cto-avatar.webp';
---

<section id="cto">
  <div class="feature-group">
    <h2>Community-Powered</h2>
    <h3>Building the open, user-owned web you deserve</h3>
    <p>
      Right now, Lume has only one full-time developer, a few freelancers, and limited helper staff! We need help from developers, fundraisers, funders, and contributors to bring the new internet to the masses.
    </p>
    <div class="bio">
      <img src={avatar.src} />
      <div>
        <strong>Derrick Hammer</strong><br />
        CTO
      </div>
    </div>
  </div>
</section>
