---
import './How.scss';
---

<section id="how" class="tilted-bg-r">
    <div class="feature-group">
        <h2>How should I donate?</h2>
        <h3>Donate via Gitcoin during funding rounds</h3>
        <div>
            <a href="https://gitcoin.co/grants/4722/lume-web-web3-accessibility-freedom-and-education" class="btn-main">Gitcoin</a>
        </div>
        <p>
            When Gitcoin is doing funding rounds, donating through their website will give a matching bonus of up to
            150%. This means that your donation will have a bigger impact on the project during this time period.
        </p>
    </div>
</section>
