@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";

#donate-how {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4em;
  @include fluid-padding-lr;
  padding-top: 7em;
  padding-bottom: 7em;
  @include fluid-font-size(1.3125rem);

  &::before {
    background-image: url("../../../src/assets/donate-gfx-right.png");
    background-position: 85% 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  > div {
    max-width: 29em;
  }

  @media screen and (width < 80rem) {
    p {
      background: rgba($body-bg-darker, 0.65);
      border-radius: 0.5em;
      padding: 0.3em 0.5em;
      margin: -0.3em -0.5em;
    }
  }
}
