---
import './How.scss';
---

<section id="how" class="tilted-bg-r">
  <div class="feature-group">
    <h2>How should I donate?</h2>
    <h3>Donate via Gitcoin during funding rounds</h3>
    <p>
      This is because they will match you up to 150%. Currently, this is on the dates: June 7, 2022 – June 22, 2022
    </p>
    <div>
      <a href="https://gitcoin.co/grants/4722/lume-web-web3-accessibility-freedom-and-education" class="btn-main">Gitcoin</a>
    </div>
  </div>
</section>
