<section id="vision" class="bg-black/40 p-5 space-y-10 mx-10 sm:mx-20 xl:mx-40">
    <h2 class="font-display text-primary font-bold text-xl md:text-2xl uppercase">
        Our Vision
    </h2>
    <h3 class="font-display text-4xl md:text-6xl font-bold">
        Enable an open, censorship-resistant web
    </h3>
    <p class="font-body text-xl md:text-3xl text-body">
        Web3 is the next evolution of the internet that combines many legos from
        past decades.
    </p>
    <p class="font-body text-xl md:text-3xl text-body">
        Benefits include internet <b>freedom</b>, <b>privacy</b>, and <b
    >ownership</b
    > over your personal web.
    </p>
    <p class="font-body text-xl md:text-3xl text-body">
        Join us in shaping tomorrow's digital world. Unite with Web3 and lets connect.
    </p>
    <p class="font-body text-xl md:text-3xl text-body italic">
        We are actively building, so if you want to understand the problems we are solving and are asking "What is
        Lume?" ...
    </p>
    <div class="pt-10 w-full">
        <a
            href="https://docs.lumeweb.com"
            class="text-2xl w-full block text-center md:max-w-[350px] rounded-md bg-primary py-3 px-10 text-black font-body"
        >View our Docs</a
        >
    </div>
</section>
