---
import './People.scss';
---

<section id="people">
  <div class="feature-group">
    <h2>Community-Powered</h2>
    <h3>All about the people, no VC here.</h3>
    <p>
      Right now, Lume has only one full-time developer and limited helper staff! We need help from developers, fundraisers, funders, and contributors to bring the new internet to the masses. Right now, Lume has only one full-time developer and limited helper staff! We need help from developers, fundraisers, funders, and contributors to bring the new internet to the masses.
    </p>
    <p>
      Right now, Lume has only one full-time developer and limited helper staff! We need help from developers, fundraisers, funders, and contributors to bring the new internet to the masses.
    </p>
    <p>
      Right now, Lume has only one full-time developer and limited helper staff! We need help from developers, fundraisers, funders, and contributors to bring the new internet to the masses. 
    </p>
    <div>
      <a href="#" class="btn-main">Contribute to our cause</a>
    </div>
  </div>
</section>
