<section id="legal" class="mx-10 lg:mx-40 pb-40">
  <h2 class="text-3xl lg:text-4xl font-display my-10">Tax and Legal</h2>
  <p class="text-lg lg:text-xl font-body text-body my-5">
    <strong
      >Please understand that, according to United States regulations for our
      present incorporation status, donations are not currently tax-deductible.</strong
    >
  </p>
  <p class="text-lg lg:text-xl font-body text-body my-5">
    If you are a corporation or business, planning to make a large donation, we
    recommend that you consult a CPA to ensure you understand the tax
    implications of your donated funds first.
  </p>
  <p class="text-lg lg:text-xl font-body text-body my-5">
    All payments are nondeductible donations (unless you get consulted
    otherwise) and do not create any implied service contract or obligation for
    Hammer Technologies LLC to render any services.
  </p>
</section>
