---
import './Grid.scss';
---

<section id="grid" class="feature-grid">
    <div>
        <h3>Access the markets, aka DeFi</h3>
        <p>Web3 commonly get mixed up with DeFi, however, while you should be able to access any decentralized website
            or network, access to DeFi to manage your money is critical as well</p>
    </div>
    <div>
        <h3>Access any decentralized or P2P network</h3>
        <p>The basics of Web3 is the sum of all the open networks and ecosystems. You should be able to access and visit
            any of these places.

            <br/><br/>You can compare this to accessing things on Google, Facebook, Apple, or other networks/platforms
            that are
            generally walled gardens in the current web system
        </p>
    </div>
    <div>
        <h3>Publish Freely</h3>
        <p>A core tenant of Web3 is censorship-resistance. You should be able to freely post controversial (or even
            things others just don't want to hear) information, such as news, blogging, or video. You should be allowed
            to openly debate, educate, inform, or entertain without getting "de-platformed".</p>
    </div>
    <div>
        <h3>Socialize and Discover Freely</h3>
        <p>While you have the ability to post, you should <i>also</i> have the ability to <i>read</i></p>
    </div>
    <div>
        <h3>Own your web. Own your identity.</h3>
        <p>You should be able to have your private data <b>be</b> and <b>stay</b> private unless you choose otherwise. This is achieved with your online web3 account, which serves as your identity and means of encrypting everything you do.

            <br/><br/>If you want to share you can, but your data is yours, no one else's.</p>
    </div>
</section>
