@import "../../styles/mixins.scss";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 3.75%;
  @include fluid-font-size(1.25rem);
  white-space: nowrap;

  .logo {
    flex-shrink: 0;

    img {
      @include fluid-width-height(13.125rem, 4.375rem);
    }
  }
}

menu {
  display: flex;
  align-items: center;

  li > a {
    display: block;
    padding: 0.55em 0.9em;
  }

  .download-btn {
    margin-left: 0.9em;
  }
}

.hamburger {
  display: none;
  font-size: var(--font-size-xxl);
  cursor: pointer;
  z-index: 1;
  margin: 0 2.125rem;
}

@media screen and (width < 768px) {
  menu {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    top: -100vh;
    right: 3%;
    padding: 1rem;
    font-size: 1.25rem;
    background: var(--blue-charcoal);
    border: 1px solid red;
    border-radius: 0.5rem;
    transition: top 250ms;
    z-index: 1;

    &.active {
      top: 1.4rem;
    }

    li > a {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    .download-btn {
      margin: 0.5rem 0 0 0;
    }
  }

  .hamburger {
    display: block;
  }
}
