---
import './JoinCommunity.scss';
---

<section id="join-community">
  <h2>
    Join our community, lend a hand.
  </h2>
  <p>
    Web3 gives people control over their data, privacy, and ownership.
  </p>
</section>
