---
---

<section
  id="message"
  class="bg-primary py-16 px-10 md:px-20 xl:px-40 space-y-4"
>
  <h2 class="text-3xl font-bold text-black font-display">
    A message from Derrick
  </h2>
  <p class="text-2xl text-black font-body">
    Some of the world's largest online threats right now are censorship of
    speech <i>and</i> money. Web3 represents unifying many legos to create a truly
    user-owned web. Decentralization is a means to an end, not the end itself. The
    true goal is that you are in control of your personal web, and no one else.
  </p>
</section>
