---
import './Message.scss';
---

<section id="message">
  <h2>
    A message from Derrick
  </h2>
  <p>
    Web3 gives people control over their data, privacy, and ownership. Lume's affordable Web3 tech aims to speed up the transition from Web2 to Web3, which matters for privacy and security.
  </p>
</section>
