.message-container {
    align-items: flex-start;
    background-color: var(--aquamarine);
    display: flex;
    flex-direction: column;
    gap: 7px;
    min-height: 237px;
    padding: 5% 12%;
    width: 100%;
}

.message-header {
    font-family: var(--font-family-jetbrains-mono);
}

.message-content {
    font-family: var(--font-family-jaldi);
}