---
import './Message.scss';
---

<section id="message">
  <h2>
    A message from Derrick
  </h2>
  <p>
    Some of the world's largest online threats right now are censorship of speech <i>and</i> money. Web3 represents unifying many legos to create a truly user-owned web. Decentralization is a means to an end, not the end itself. The true goal is that you are in control of your personal web, and no one else.
  </p>
</section>
