---
import "./PoweredStyles.css";
---

<div class="p-l-container">
    <div class="p-l-wrapper">
        <h2 class="centered"><br /><br />POWERED BY</h2>
        <div
            class="flex-row place-items-center overflow-hidden flex h-auto w-full mb-[1.5vh]"
        >
            <div class="sia-logo"></div>
            <div class="hns-logo"></div>
            <div class="osi-logo"></div>
        </div>
    </div>
</div>
