---
import "./PoweredStyles.css";
---

<div class="p-l-container my-[125px]">
    <div class="p-l-wrapper">
        <h2
            class="centered mt-[10px] text-[calc(15px_+_(25_-_10)_*_((100vw_-_300px)_/_(1600_-_300)))]"
        >
            POWERED BY
        </h2>
        <div
            class="flex-row place-items-center overflow-hidden flex h-auto w-full mb-[1.5vh]"
        >
            <div class="sia-logo"></div>
            <div class="hns-logo"></div>
            <div class="osi-logo"></div>
        </div>
    </div>
</div>
