footer {
  display: flex;
  gap: 2.5rem;
  padding: 4% 12%;
  background-color: #020E10;

  > div {
    flex-basis: 0;
    flex-grow: 1;

    &:first-child {
			flex-grow: 2 !important;
		  display: flex;
		  flex-direction: column;
    }
  }

  h5 {
    @apply text-2xl;
    white-space: nowrap;
    margin-bottom: 0.5rem;
  }

  li {
    @apply text-xl leading-8;
    font-family: var(--font-family-jaldi);
    color: var(--cloud);
    list-style-type: none;
    white-space: nowrap;
  }
}

.footer-logo {
  a {
    display: inline-block;
  }

  img {
    width: 126px;
  }
}

.footer-contact {
  margin: auto 0;
  color: var(--cloud);

  a {
    display: flex;
    align-items: center;
  }

  span {
    display: block;
    background-image: url('../../assets/email-icon.webp');
    background-size: cover;
    margin-right: 0.5rem;
    width: 1.0625rem;
    height: 0.875rem;
  }
}

.footer-phrase {
  @apply text-xl;
  margin: auto 0 0;
  color: var(--aquamarine);
}

@media screen and (width <= 900px) {
  footer {
    flex-direction: column;
    padding: 12% 8% 12%;
    text-align: center;

    > div:first-child {;
    	margin-top: 1.5rem;
    	order: 2;
  	}
  }

  .footer-contact {
  	margin: 4% 0;

  	a {
  		justify-content: center;
  	}
  }
}
