---
import './Building.scss';
---

<section id="building" class="tilted-bg-r">
    <div>
        <div class="feature-group">
            <h3>Your Web, Your Rules</h3>
            <p>
                In summary, Web3 is about what you want to do, post, read, play, chat, or interact without others saying
                otherwise. It is about freedom of speech <i>and</i> freedom of economy.
            </p>
        </div>
    </div>
</section>
