@import "../../../styles/mixins.scss";
@import "../../../styles/vars.scss";

#building {

  &::before {
    bottom: -12%;
  }

  > div {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 88em;
    min-height: 28em;
    margin: 0 auto;
    @include fluid-font-size(1.3125rem);

    &::before {
      content: "";
      position: absolute;
      top: 4%;
      bottom: 0;
      left: min(0rem, calc((100vw - 40rem) / 2));
      width: 100%;
      min-width: 40rem;
      background-image: url("../../../assets/double-brand-bg.png");
      background-position: 0;
      background-repeat: no-repeat;
      background-size: contain;
      z-index: -1;
    }
  }

  .feature-group {
    max-width: 28em;
    padding: 7em 0 5em;
    @include fluid-margin-lr;
  }

  @media screen and (max-width: 80rem) {
    p {
      background: rgba($color-blue-charcoal, 0.65);
      border-radius: 0.5em;
      padding: 0.3em 0.5em;
      margin: -0.3em -0.5em;
    }
  }
}
