---
import './Grid.scss';
---

<section id="grid" class="feature-grid">
    <div>
        <h2>Freedom. Privacy. Ownership.</h2>
    </div>
    <div>
        <h3>Decentralized Websites (Goal)</h3>
        <p>You should be able to gain access to any website on any network, in a secure and decentralized way</p>
    </div>
    <div>
        <h3>Decentralized Publishing (Idea)</h3>
        <p>You should be able to easily publish a blog or any other basic website for personal or professional use</p>
    </div>
    <div>
        <h3>Website Building Tools (Idea)</h3>
        <p>You should be able to easily build a website that targets the decentralized web</p>
    </div>
    <div>
        <h3>eCommerce (Idea)</h3>
        <p>You should be be able to buy or sell in a free market without censorship or politics blocking your ability to transact</p>
    </div>
    <div>
        <h3>Earn a Living (Idea)</h3>
        <p>You should be able to monetize your content or skills, without a middleman or gatekeeper. You should be able to be free to live your best life by having access to an open market so that you are never chained down or restricted</p>
    </div>
</section>
