@import "../../../styles/mixins.scss";

#vision-grid {
  padding-top: 2.05em;
  padding-bottom: 4.5em;

  div:first-child {
    background: inherit;
    border: none
  }

  h2 {
    font-family: var(--font-family-jetbrains-mono);
    @include fluid-font-size(2.75rem);
    font-weight: 700;
    line-height: 129.55%;
    color: var(--aquamarine);
  }
}
