---
import "./Grid.scss";
---

<section id="vision-grid">
  <div>
    <h2>Freedom, Privacy, Ownership.</h2>
  </div>
  <div>
    <h3>Web3 Universal Storage</h3>
    <p>Get access to a universal network drive, powered by the Web3/dWeb cloud. Enjoy portability to any device or platform you wish.</p>
  </div>
  <div>
    <h3>Web3 Gateway</h3>
    <p>Install the Lume Web3 Extension and have a 1-click gateway into the Web3 internet on Opera, Vivaldi, Edge and Firefox.</p>
  </div>
  <div>
    <h3>Web3 Universal Storage</h3>
    <p>Get access to a universal network drive, powered by the Web3/dWeb cloud. Enjoy portability to any device or platform you wish.</p>
  </div>
  <div>
    <h3>Web3 Gateway</h3>
    <p>Install the Lume Web3 Extension and have a 1-click gateway into the Web3 internet on Opera, Vivaldi, Edge and Firefox.</p>
  </div>
  <div>
    <h3>Build Your Site, Censorship Free</h3>
    <p>Combining Lume and Skynet technologies, you can build a website just like you are on the Web2 internet.</p>
  </div>
</section>
