.vision-container {
    margin-block: 5vh;
    padding-bottom: 5vh;
    vertical-align: center;
    padding-inline: 15%;
}

.vision-wrapper {
    background-image: url(../../../assets/video-placeholder.webp);
    background-position: 100% 50%;
    transition: 0.5s;
}

.vision-btn {
    letter-spacing: 0;
    min-height: 26px;
    text-align: center;
    width: 234px;
    display: block;
}

.vision-transluscent {
    background-color: none;
    border-radius: 15px;
    transition: 0.5s;
}

@media screen and (max-width: 1200px) {
    .vision-transluscent {
        background-color: #031418a7;
        border-radius: 15px;
        transition: 0.5s;
    }
}