---
import "./VisionStyles.css";
---

<div class="vision-container">
    <div class="vision-wrapper">
        <span id="vision"></span>
        <h2
            class="text-[calc(15px_+_(25_-_10)_*_((100vw_-_300px)_/_(1600_-_300)))] text-[color:var(--aquamarine)] uppercase font-bold"
        >
            OUR VISION
        </h2>
        <h3>Make Web3 easy for <wbr /> everyone</h3>
        <h4 class="left vision-transluscent">
            Web3 offers freedom of speech, data sovereignty, and privacy. We
            simplify Web3 by bridging the gap between the two webs, enabling
            easy usage without censorship or backdoors.
        </h4>
        <div class="vision-btn-container">
            <a class="vision-btn" href="#"> Download Extension</a>
        </div>
    </div>
</div>
