---
import "./PoweredBy.scss";
import siaLogo from "../../../assets/sia-logo.webp";
import hnsLogo from "../../../assets/hsn-logo.webp";
import osiLogo from "../../../assets/osi-logo.webp";
---

<section id="home-powered-by">
    <h2>Powered By</h2>
    <div>
        <img src={siaLogo.src} class="sia-logo" />
        <img src={hnsLogo.src} class="hns-logo" />
        <img src={osiLogo.src} class="osi-logo" />
    </div>
</div>
