@import "../../../styles/mixins.scss";
@import "../../../styles/vars.scss";

#home-powered-by {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  margin: 5em 0;
  @include fluid-font-size(1.25rem);

  @media screen and (max-width: 47.99999rem) {
    flex-direction: column;
    gap: 1em;
  }

  div {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  h2 {
    @include fluid-font-size(1.5625rem);
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    color: $color-aquamarine;

    @media screen and (min-width: 48rem) {
      margin-top: 0.75em;
    }
  }

  .sia-logo {
    @include fluid-width-height(8rem, 4.625rem);
  }

  .hns-logo {
    @include fluid-width-height(3.875rem, 4.125rem);
  }

  .osi-logo {
    @include fluid-width-height(5.1875rem, 6.25rem);
  }
}
