---
import './Astronaut.scss';
import mario from "/src/assets/mario-level-up.gif"
---

<section id="astronaut">
    <div class="feature-group">
        <h2>Web3 is Community</h2>
        <h3>Re-defining Web3, for the users</h3>
        <p>
            Web3 was a term first defined by Gavin Wood when the Ethereum network was starting out. He defined it as a
            "decentralized online ecosystem based on blockchain".
<br /><br />
            However, we view it as much more than that, and definitely more than access to DeFi. We see a ton of more
            potential to what Web3 as an ideal can evolve to, and are setting out to make it a reality.
            <br /><br />
            To those that see Web3 as DeFi, we ask this: Do you go on your web browser to access TradingView or other market tools as your homepage, or do you go check your social media, email, and news sites, as <i>well</i> as your money?

            <br /><br />
            Blockchain itself is more than just <i>money</i>, and so is Web3, and by extension P2P networks.

            <br /><br />

            So help us in our goals to level-up Web3
        </p>
        <img src={mario.src} alt="Mario Level Up"/>
        <div>
            <a href="/donate" class="btn-main">Donate</a>
        </div>
    </div>
</section>
