@import "/src/styles/mixins.scss";
@import "/src/styles/vars.scss";

#astronaut {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 71.1em;
  background: $color-blue-charcoal;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: min(0em, calc(100% - 100.3em) / 2);
    bottom: 0;
    width: 100.3em;
    background-image: url("/src/assets/astronaut.png");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
  }

  .feature-group {
    @include fluid-margin-lr;
    max-width: 64em;
    padding: 6em 0;
    z-index: 1;
  }
}
