---
import './Astronaut.scss';
---

<section id="what-astronaut">
  <div class="feature-group">
    <h2>Community-Powered</h2>
    <h3>Re-defining Web3, for the good of all</h3>
    <p>
      Right now, Lume has only one full-time developer and limited helper staff! We need help from developers, fundraisers, funders, and contributors to bring the new internet to the masses. Right now, Lume has only one full-time developer and limited helper staff! We need help from developers, fundraisers, funders, and contributors to bring the new internet to the masses.
    </p>
    <div>
      <a href="/donate" class="btn-main">Donate</a>
    </div>
  </div>
</section>
