---
import "./Footer.scss";
import logo from "/src/assets/lume-logo.png";
---

<footer>
  <div>
    <div class="footer-logo">
      <a href="/">
        <img src={logo.src} alt="Lume">
      </a>
    </div>
    <div class="footer-contact">
      <a href="mailto:contact@lumeweb.com">
        <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75">
        </svg>
        contact@lumeweb.com
      </a>
    </div>
    <div class="footer-phrase">Freedom. Privacy. Ownership.</div>
  </div>
  <div>
    <h5>General</h5>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="#">Get Started</a>
      </li>
      <li>
        <a href="#">Documentation</a>
      </li>
      <li>
        <a href="#">Projects</a>
      </li>
    </ul>
  </div>
  <div>
    <h5>Community</h5>
    <ul>
      <li>
        <a href="#">GitHub</a>
      </li>
      <li>
        <a href="#">Discord</a>
      </li>
      <li>
        <a href="#">Twitter</a>
      </li>
      <li>
        <a href="#">Facebook</a>
      </li>
    </ul>
  </div>
  <div>
    <h5>Ecosystem</h5>
    <ul>
      <li>
        <a href="#">Browser</a>
      </li>
      <li>
        <a href="#">Extension</a>
      </li>
      <li>
        <a href="#">Universal Storage</a>
      </li>
    </ul>
  </div>
  <div>
    <h5>Other</h5>
    <ul>
      <li>
        <a href="#">Browser</a>
      </li>
      <li>
        <a href="#">Extension</a>
      </li>
      <li>
        <a href="#">Universal Storage</a>
      </li>
    </ul>
  </div>
  <div>
    <h5>Support Us</h5>
    <ul>
      <li>
        <a href="/donate">Donate</a>
      </li>
      <li>
        <a href="#">Download App</a>
      </li>
      <li>
        <a href="#">Partnerships</a>
      </li>
    </ul>
  </div>
</footer>
