@import "/src/styles/mixins.scss";
@import "/src/styles/vars.scss";

footer {
  display: flex;
  gap: 2%;
  padding: 7em 7.5% 8em;
  font-family: $font-family-jaldi;
  @include fluid-font-size(0.625rem);
  background: $color-blue-charcoal;

  > div {
    flex-basis: 0;
    flex-grow: 1;
    @include fluid-font-size(1.375rem);

    &:first-child {
      flex-grow: 1.5 !important;
      display: flex;
      flex-direction: column;
    }
  }

  img {
    @include fluid-width(8.4375rem);
  }

  a:hover {
    color: $color-white;
  }

  h5 {
    @include fluid-font-size(1.75rem);
    line-height: 100%;
    white-space: nowrap;
    margin: 0.3em 0;
  }

  li {
    line-height: 138%;
    color: $color-cloud;
    list-style-type: none;
    white-space: nowrap;
  }
}

.footer-logo {
  a {
    display: inline-block;
  }
}

.footer-contact {
  margin: auto 0;
  color: $color-cloud;

  a {
    display: inline-flex;
    align-items: center;
  }

  svg {
    @include fluid-width-height(1.375rem, 1.375rem);
    margin-right: 0.5em;
  }
}

.footer-phrase {
  margin: auto 0 0;
  font-family: $font-family-jetbrains-mono;
  font-weight: 700;
  line-height: 133%;
  color: $color-aquamarine;
}

@media screen and (min-width: 48rem) and (max-width: 64rem) {
  footer {
    flex-wrap: wrap;

    > div:first-child {
      order: 1;
      flex: 0 0 100%;
      margin-top: 3%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  .footer-contact {
    margin: 0;
  }

  .footer-phrase {
    margin: 0;
  }
}

@media screen and (max-width: 47.99999rem) {
  footer {
    flex-direction: column;
    padding-top: 1.5rem;
    padding-bottom: 5rem;
    text-align: center;

    > div {
      margin-top: 2rem;
      font-size: 1.25rem;
    }

    > div:first-child {
      margin-top: 4rem;
      order: 2;
    }

    img {
      width: 8.4375rem;
    }

    h5 {
      font-size: 1.625rem;
    }
  }

  .footer-contact {
    margin: 1.25rem 0;

    a {
      justify-content: center;
    }
  }
}
