@import "/src/styles/vars.scss";

#unify {
  position: relative;
  padding: 14em 7.5%;

  .custom-bg {
    position: absolute;
    top: 0;
    right: -12.5%;
    bottom: 0;
    left: -12.5%;
    margin: 2% 0;
    background: $color-blue-charcoal;
    transform: matrix(1, 0.04, -0.04, 1, 0, 0);
    z-index: -1;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: -1%;
      bottom: -5%;
      left: 10%;
      right: 10%;
      background-image: url("/src/assets/unifying-bg.png");
      background-position: 100% 100%;
      background-repeat: no-repeat;
      background-size: contain;
      transform: rotate(-2.25deg);
    }
  }

  .feature-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 64em;
  }

  p {
    background: rgba($color-blue-charcoal, 0.75);
    border-radius: 0.5em;
    padding: 0.3em 0.5em;
    margin: -0.3em -0.5em;
  }

  p + p {
    margin-top: 0.48em;
  }
}
