---
import './Unify.scss';
---

<section id="unify">
    <div class="custom-bg"></div>
    <div class="feature-group">
        <h2>Community-Powered</h2>
        <h3>Unifying all the Networks</h3>
        <p>
            There are many, <i>many</i> "crypto", "defi", "web3", "P2P", and "dWeb" projects that have all taken hundreds
            of different approaches to innovate. However, they all have the same broad ethos in common, and they all
            need an easy means to access them in one place, but in a censorship-resistant way.
        </p>
        <p>
            We have a very ambitious vision, and this requires all "tribes" to work together enough for the benefit of
            the end user.
        </p>
        <p>
            Below are some of the ideas we are aiming for, and some we would like to tackle eventually.
        </p>
    </div>
</section>
