---
import '../styles/global.scss';
import Navbar from '../components/Navbar/Navbar.jsx';
import Footer from '../components/Footer/Footer.astro';
import JoinCommunity from '../components/JoinCommunity/JoinCommunity.astro';

export interface Props {
  view: string;
  title: string;
}

const { view, title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0" />
    <meta name="description" content="Lume Web - Web3 for the masses | Install the Lume Web3 Extension and have a 1-click gateway into the Web3 internet on Opera, Vivaldi, Edge and Firefox." />
    <meta name="keywords" content="Web3 Extension, Lume Web, Web3" />
  </head>
  <body>
    <Navbar view={view} client:load />
    <main class={view}>
      <slot />
    </main>
    {view !== 'home' && <JoinCommunity />}
    <Footer />
  </body>
</html>
