---
import "./Whatisweb3Styles.css";
---

<div class="centered">
    <div
        class="self-start relative w-full justify-center;"
        style="padding-block: 5vh;"
    >
        <div class="whatisweb3-wrapper">
            <div
                class="bg-[url(../../../src/assets/img-left.webp)] bg-[50%_50%] bg-contain bg-no-repeat h-[817px] absolute flex w-[637px] z-[998] left-[11%]"
            >
            </div>
            <div class="w3-container">
                <span id="whatisweb3"></span>
                <h2
                    class="text-[calc(15px_+_(25_-_10)_*_((100vw_-_300px)_/_(1600_-_300)))] text-[color:var(--aquamarine)] uppercase font-bold"
                >
                    what is the web?
                </h2>
                <h3
                    class="text-[calc(30px_+_(45_-_30)_*_((100vw_-_300px)_/_(1600_-_300)))] min-w-[75vw] z-[999] mt-[0.5em]"
                >
                    Why Web3 matters
                </h3>
                <h4
                    class="w3-transluscent text-[calc(15px_+_(21_-_15)_*_((100vw_-_300px)_/_(1600_-_300)))] text-[color:var(--cloud)] text-[length:var(--font-size-m)] font-normal not-italic max-w-[550px] leading-[35px] mt-[0.5em]"
                >
                    Web3 gives people control over their data, privacy, and
                    ownership. Lume's affordable Web3 tech aims to speed up the
                    transition from Web2 to Web3, which matters for privacy and
                    security.
                </h4>
                <div class="w3-btn-container">
                    <a class="w3-btn" href="#">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
