.w3-container {
    z-index: 999 !important;
    width: 100%;
    padding-left: 47.5vw;
    transition: 0.5s;
}

.whatisweb3-wrapper {
    background-image: url("../../../assets/tilted-rectangle.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    left: 0%;
    width: 100%;
    padding-block: 11em;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: flex;
    padding-left: calc(8px + 1.5625vw);
}

.w3-transluscent {
    background-color: #020e1076;
    border-radius: 15px;
    transition: 0.5s;
    max-width: 71.5%;
}

@media screen and (width <=1050px) {
    .w3-container {
        width: 100%;
        padding-inline: 9%;
        z-index: 999 !important;
    }

    .whatisweb3-wrapper {
        width: 100%;
    }

    .img-left {
        left: 15%;
        transition: 0.5s;
    }

    .w3-transluscent {
        max-width: 100%;
    }
}

@media screen and (width >=2200px) {
    .w3-container {
        padding-inline: 96vw;
        width: 100%;
        justify-content: center;
        display: grid;
    }

    .img-left {
        left: 5.5%;
    }

    .w3-transluscent {
        max-width: 30%;
    }
}